# Clickstream data
Collected between June 2017 to July 2018 using the Robin tool

1) Import libraries and dependecies.

If you don't have any of these libraries in your local environment you can add them using the following commands on your command prompt.
```
pip install numpy
pip install matplotlib
```

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

2) Load the clickstream dataset from from the csv file "HBI_clickstream_june17tojan18.csv", and print a random sample.
This csv file is not in github since it containes private data. You need to add it to your local repository after cloning it this one)

In [4]:
# Read data set from "HBI_clickstream_june17tojan18.csv" 
# to a data frame df_clickstream
df_clickstream_tmp = pd.read_csv("HBI_clickstream_june17tojan18.csv")

In [5]:
# Print a sample
df_clickstream_tmp.head(5)
# df_clickstream_tmp['API_key'].nunique()

,Unnamed: 0,API_key,Unnamed: 0.1,domain,page_session_id,page_url,session_id,timestamp
0,0,020bce8e-f76f-4e45-8572-147541079bb5,2222.0,www.google.nl,8a4d1640-c0a1-4f5a-bcd0-a2aec786485d,https://www.google.nl/search?q=datum&oq=datum&...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:28:11.669932
1,1,020bce8e-f76f-4e45-8572-147541079bb5,1488.0,www.google.nl,5d33e489-192a-4009-95ce-62b04049cb6c,https://www.google.nl/search?q=hema&oq=hema&aq...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:03.255243
2,2,020bce8e-f76f-4e45-8572-147541079bb5,2772.0,www.hema.nl,ac23f566-0e62-40f7-b32d-612271130bbc,https://www.hema.nl/?gclid=CjwKCAjwlrnNBRBMEiw...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:10.509747
3,3,020bce8e-f76f-4e45-8572-147541079bb5,1116.0,www.hema.nl,47b3cf1f-2600-4a75-a4de-b2a8e504ae65,https://www.hema.nl/winkel?searchtext=sieraden...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:36.645703
4,4,020bce8e-f76f-4e45-8572-147541079bb5,3505.0,www.hema.nl,dc156392-ebf3-481d-8780-885142bcff64,https://www.hema.nl/winkel/wonen-slapen/badkam...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:39.103726

# Q1
How many users did both social media mode and routine mode ?

1) Compute N1 and N2 percentages per user

In [6]:
# preprocessing clickstream data
df_clickstream=df_clickstream_tmp.iloc[:, [1,3,4,5,6,7]]
df_clickstream.head(5)
# df_clickstream['API_key'].nunique()

,API_key,domain,page_session_id,page_url,session_id,timestamp
0,020bce8e-f76f-4e45-8572-147541079bb5,www.google.nl,8a4d1640-c0a1-4f5a-bcd0-a2aec786485d,https://www.google.nl/search?q=datum&oq=datum&...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:28:11.669932
1,020bce8e-f76f-4e45-8572-147541079bb5,www.google.nl,5d33e489-192a-4009-95ce-62b04049cb6c,https://www.google.nl/search?q=hema&oq=hema&aq...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:03.255243
2,020bce8e-f76f-4e45-8572-147541079bb5,www.hema.nl,ac23f566-0e62-40f7-b32d-612271130bbc,https://www.hema.nl/?gclid=CjwKCAjwlrnNBRBMEiw...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:10.509747
3,020bce8e-f76f-4e45-8572-147541079bb5,www.hema.nl,47b3cf1f-2600-4a75-a4de-b2a8e504ae65,https://www.hema.nl/winkel?searchtext=sieraden...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:36.645703
4,020bce8e-f76f-4e45-8572-147541079bb5,www.hema.nl,dc156392-ebf3-481d-8780-885142bcff64,https://www.hema.nl/winkel/wonen-slapen/badkam...,2f7611c9-1172-453d-8254-155146b53c5a,2017-09-05 17:31:39.103726

In [7]:
#remove www.
df_clickstream['domain']=df_clickstream['domain'].str.replace("www.", "")
# remove safebrowsing-cache. is this useful/appropriate?
df_clickstream['domain']=df_clickstream['domain'].str.replace("safebrowsing-cache.", "")
# # # remove nl-nl. is this useful/appropriate?
df_clickstream['domain']=df_clickstream['domain'].str.replace("nl-nl.", "")

df_clickstream['domain'].sample(5)
# df_clickstream['API_key'].nunique()

C:\Users\Nadia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nadia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Nadia\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

531597            zalando.nl
410591            google.com
550731            google.com
368432    ad.doubleclick.net
726915           twitter.com
551475            groupon.nl
729973                rtl.nl
341536           youtube.com
3932            facebook.com
713418             google.nl
Name: domain, dtype: object

In [9]:
# loading white list / Categories lis
df_white_list = pd.read_csv("nadia_whitelist.csv", encoding = "ISO-8859-1") 
df_white_list.sample(5)

,Regex URL,alternative Regex URL,FULL URL,Category,Subcategory,Code
0,cheaptickets.*,NaN,www.cheaptickets.nl/??,webshops,Travel sites,NaN
1,tix.*,NaN,https://tix.nl/,webshops,Travel sites,NaN
2,travelbird.*,NaN,https://travelbird.nl/,webshops,Travel sites,NaN
3,tui.*,NaN,www.tui.nl/,webshops,Travel sites,NaN
4,vliegwinkel.*,NaN,www.vliegwinkel.nl/,webshops,Travel sites,NaN
5,apple.*,NaN,www.apple.com/,webshops,services,NaN
6,kpn.*,NaN,https://www.kpn.com/,webshops,services,NaN
7,telfort,NaN,www.telfort.nl/??,webshops,services,NaN
8,www.t-mobile.*,NaN,www.t-mobile.nl/??,webshops,services,NaN
9,vodafone.*,NaN,www.vodafone.nl/??,webshops,services,NaN
10,ziggo.*,NaN,https://www.ziggo.nl/,webshops,services,NaN
11,action.*,NaN,www.action.nl/,webshops,Consumer goods,NaN
12,ah.*,NaN,www.ah.nl/,webshops,Consumer goods,NaN
13,aldi.*,NaN,https://www.aldi.nl/,webshops,Consumer goods,NaN
14,aliexpress.*,NaN,www.aliexpress.com/??,webshops,Consumer goods,NaN
15,amazon.*,NaN,https://www.amazon.com/,webshops,Consumer goods,NaN
16,anwb.*,NaN,www.anwb.nl/,webshops,Consumer goods,NaN
17,blokker.*,NaN,www.blokker.nl/,webshops,Consumer goods,NaN
18,bol.*,NaN,www.bol.com/??,webshops,Consumer goods,NaN
19,bonprix.*,NaN,www.bonprix.nl/,webshops,Consumer goods,NaN
20,booking.*,NaN,www.booking.com/,webshops,Consumer goods,NaN
21,c-and-a.*,NaN,www.c-and-a.com/,webshops,Consumer goods,NaN
22,coolblue.*,NaN,www.coolblue.nl/??,webshops,Consumer goods,NaN
23,ebay.*,NaN,www.ebay.com/,webshops,Consumer goods,NaN
24,groupon.*,NaN,https://www.groupon.com/,webshops,Consumer goods,NaN
25,hema.*,NaN,www.hema.nl/,webshops,Consumer goods,NaN
26,hm.*,NaN,www.hm.com/,webshops,Consumer goods,NaN
27,ikea.*,NaN,www.ikea.com/,webshops,Consumer goods,NaN
28,jumbo.*,http://www.jumbo.eu/,https://www.jumbo.com/,webshops,Consumer goods,NaN
29,klm.*,NaN,www.klm.com/??,webshops,Consumer goods,NaN
...,...,...,...,...,...,...
265,radio2.*,nporadio2.*,www.nporadio2.nl/,Digital media,online radio,NaN
266,radio4.*,nporadio4.*,www.radio4.nl/,Digital media,online radio,NaN
267,nposoulenjazz.*,NaN,radioplayer.npo.nl/soulenjazz/,Digital media,online radio,NaN
268,radioveronica.*,NaN,www.radioveronica.nl/,Digital media,online radio,NaN
269,skyradio.*,NaN,www.skyradio.nl/,Digital media,online radio,NaN
270,slamfm.*,slam.*/,www.slam.nl/,Digital media,online radio,NaN
271,www.apple.*/music/,apple.com/*/music/,www.apple.com/music/,Digital media,music streaming,NaN
272,deezer.*,NaN,www.deezer.com/en/,Digital media,music streaming,NaN
273,microsoft.*/*/store/music,NaN,https://music.microsoft.com/,Digital media,music streaming,NaN
274,mixcloud.*,NaN,https://www.mixcloud.com/,Digital media,music streaming,NaN
275,*.napster.*/start,NaN,http://nl.napster.com,Digital media,music streaming,NaN
276,soundcloud.*,NaN,https://soundcloud.com/,Digital media,music streaming,NaN
277,spotify.*,NaN,https://www.spotify.com/,Digital media,music streaming,NaN
278,top40.*/top40,NaN,www.top40.nl/,Digital media,music streaming,NaN
279,radartv.*,avrotros.* web.avrotros.*,http://radar.avrotros.nl/,Digital media,NaN,NaN
280,blogger.*,blogspot.*,https://www.blogger.com,Blogs,Blog platforms,?
281,wordpress.*,NaN,https://wordpress.com/,Blogs,Blog platforms,?
282,9gag.*,NaN,http://www.9gag.com/,Blogs,Blog platforms,NaN
283,buzzfeed.*,NaN,https://www.buzzfeed.com/,Blogs,Blog platforms,NaN
284,flickr.*,NaN,https://www.flickr.com/,Blogs,Blog platforms,NaN
285,frankwatching.*,NaN,https://www.frankwatching.com/,Blogs,Blog platforms,NaN
286,froot.*,NaN,www.froot.nl/,Blogs,Blog platforms,NaN
287,infonu.*,NaN,www.infonu.nl/,Blogs,Blog platforms,NaN
288,marketingfacts.*,NaN,www.marketingfacts.nl/,Blogs,Blog platforms,NaN
289,nsmbl.*,NaN,www.nsmbl.nl/,Blogs,Blog platforms,NaN
290,reddit.*,NaN,https://www.reddit.com/,Blogs,Blog platforms,?
291,smulweb.*,NaN,www.smulweb.nl/,Blogs,Blog platforms,NaN
292,theladbible.*,NaN,www.theladbible.com/,Blogs,Blog platforms,NaN
293,upcoming.*,NaN,www.upcoming.nl,Blogs,Blog platforms,NaN
294,viraltrend.*,NaN,www.viraltrend.nl/,Blogs,Blog platforms,NaN

In [21]:
# to a data frame df_clickstream
df_rob= pd.read_csv("rob_categor.csv") 
# df_rob['API_key'].nunique()

In [22]:
df_rob_category = df_rob[['API_key', 'cp.code', 'page_url']].rename(columns={'cp.code':'code'})
df_rob_category
# df_rob_category['API_key'].nunique()

,API_key,code,page_url
0,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.nu.nl/
1,004af861-6abb-4e81-9b95-e90deb4eadcd,G,https://www.google.nl/search?q=dagblad+tubanti...
2,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
3,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/show/ex-patrick-kluiver...
4,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
5,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/fc-twente/fc-twente-ron...
6,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
7,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/familieberichten/7358967
8,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
9,004af861-6abb-4e81-9b95-e90deb4eadcd,G,https://www.google.nl/search?q=dagblad+tubanti...
10,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
11,004af861-6abb-4e81-9b95-e90deb4eadcd,X,http://puzzels.tubantia.nl/?utm_source=tctubantia
12,004af861-6abb-4e81-9b95-e90deb4eadcd,X,http://puzzels.tubantia.nl/puzzel/vandaag/sudoku
13,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/?_ga=2.237910535.641004...
14,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/familieberichten/7360221
15,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/?_ga=2.237910535.641004...
16,004af861-6abb-4e81-9b95-e90deb4eadcd,G,https://www.google.nl/search?q=carttat&oq=cart...
17,004af861-6abb-4e81-9b95-e90deb4eadcd,G,https://www.google.nl/?gws_rd=ssl
18,004af861-6abb-4e81-9b95-e90deb4eadcd,G,https://www.google.nl/search?q=dagblad+tubanti...
19,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
20,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/haaksbergen/auto-botst-...
21,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
22,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/almelo/minimapartij-blu...
23,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
24,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/binnenland/wilde-kitten...
25,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/
26,004af861-6abb-4e81-9b95-e90deb4eadcd,X,http://puzzels.tubantia.nl/?utm_source=tctubantia
27,004af861-6abb-4e81-9b95-e90deb4eadcd,X,http://puzzels.tubantia.nl/puzzel/vandaag/sudoku
28,004af861-6abb-4e81-9b95-e90deb4eadcd,N1,http://www.tubantia.nl/?_ga=2.137164592.167061...
29,004af861-6abb-4e81-9b95-e90deb4eadcd,N2,http://www.tubantia.nl/buitenland/verdachte-vo...
...,...,...,...
787462,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/farmville-two/?fb_so...
787463,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/ester.koopman.1/posts...
787464,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/candycrushsoda/?fb_s...
787465,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=het+weer+in+gos...
787466,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,http://www.weeronline.nl/Europa/Duitsland/Gosl...
787467,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,http://cookies.weeronline.nl/?accepted=true&re...
787468,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,http://www.facebook.com/
787469,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/farmville-two/?fb_so...
787470,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787471,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/bubblewitch/?fb_sour...
787472,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787473,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/candycrushsoda/?fb_s...
787474,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787475,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/candycrush/?fb_sourc...
787476,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787477,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=jongerencamping...
787478,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=jongerencamping...
787479,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=jongerencamping...
787480,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://www.tui.nl/autovakantie/italie/gardame...
787481,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=camping+du+parc...
787482,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=camping+gardame...
787483,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,G,https://www.google.nl/search?q=jeugdcamping+fr...
787484,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/
787485,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/farmville-two/?fb_so...
787486,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787487,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,X,https://apps.facebook.com/candycrushsoda/?fb_s...
787488,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,https://www.facebook.com/?ref=tn_tnmn
787489,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,S,http://www.facebook.com/
787490,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,N2,http://www.destentor.nl/zwolle/grote-rampenoef...
787491,ff696cea-d6f8-40a9-acde-cf997dd9bc7e,N2,http://www.destentor.nl/accept?url=http://www....

In [23]:
df_rob_category['code'].str.count("N1").sum()

46555

In [24]:
df_rob_category['code'].str.count("N2").sum()

71129

In [25]:
df_rob_category['code'].size
# df_rob_category['API_key'].nunique()

787492

In [26]:
df_browsing_tmp=df_rob_category.groupby(['API_key','code']).size().reset_index(name='Total')
df_browsing_tmp.head(5)

                                API_key code  Total
0  004af861-6abb-4e81-9b95-e90deb4eadcd    G     57
1  004af861-6abb-4e81-9b95-e90deb4eadcd   N1    122
2  004af861-6abb-4e81-9b95-e90deb4eadcd   N2    109
3  004af861-6abb-4e81-9b95-e90deb4eadcd    X     16
4  0128a554-f1a9-4b4e-a718-dfa1ba695416    G     74

In [27]:
df_total_browsing = df_browsing_tmp.groupby(['API_key']).sum().reset_index()
df_total_browsing.head(10)

                                API_key  Total
0  004af861-6abb-4e81-9b95-e90deb4eadcd    304
1  0128a554-f1a9-4b4e-a718-dfa1ba695416    239
2  019a3184-9e1a-4aee-8231-55cfd049a764      6
3  01af3366-c3ed-4e5a-8e2f-4f4a695c0da1    287
4  0206c2f7-a818-4a63-a281-6f71a5b8f072  15453
5  020bce8e-f76f-4e45-8572-147541079bb5   1882
6  023b0ffe-443a-4432-b222-ba4e60768548   1389
7  02a6841e-74eb-4322-b1e2-1779d87d7f09   3873
8  0378b027-aa4f-487b-a717-2fe415abca00     42
9  04dfdcda-531c-43b6-af91-a356e6749a20    132

In [28]:
df_N1 = df_browsing_tmp[df_browsing_tmp.code == 'N1']
df_N1 = df_N1[['API_key','Total']].rename(columns={'Total':'N1'})

df_N2 = df_browsing_tmp[df_browsing_tmp.code == 'N2']
df_N2 = df_N2[['API_key','Total']].rename(columns={'Total':'N2'})


df_X = df_browsing_tmp[df_browsing_tmp.code == 'X']
df_X = df_X[['API_key','Total']].rename(columns={'Total':'X'})

df_G = df_browsing_tmp[df_browsing_tmp.code == 'G']
df_G = df_G[['API_key','Total']].rename(columns={'Total':'G'})

df_S = df_browsing_tmp[df_browsing_tmp.code == 'S']
df_S = df_S[['API_key','Total']].rename(columns={'Total':'S'})
# df_S.head(20)

In [29]:

df_browsing = pd.merge(left=df_total_browsing, right=df_N1, how='left', left_on='API_key', right_on='API_key')

df_browsing = pd.merge(left=df_browsing, right=df_N2, how='left', left_on='API_key', right_on='API_key')

df_browsing = pd.merge(left=df_browsing, right=df_X, how='left', left_on='API_key', right_on='API_key')

df_browsing = pd.merge(left=df_browsing, right=df_G, how='left', left_on='API_key', right_on='API_key')

df_browsing = pd.merge(left=df_browsing, right=df_S, how='left', left_on='API_key', right_on='API_key')

df_browsing.head(5)

,API_key,Total,N1,N2,X,G,S
0,004af861-6abb-4e81-9b95-e90deb4eadcd,304,122.0,109.0,16.0,57.0,NaN
1,0128a554-f1a9-4b4e-a718-dfa1ba695416,239,1.0,46.0,69.0,74.0,49.0
2,019a3184-9e1a-4aee-8231-55cfd049a764,6,NaN,NaN,5.0,1.0,NaN
3,01af3366-c3ed-4e5a-8e2f-4f4a695c0da1,287,NaN,NaN,121.0,159.0,7.0
4,0206c2f7-a818-4a63-a281-6f71a5b8f072,15453,3006.0,2561.0,5302.0,2210.0,2374.0

In [30]:
df_browsing=df_browsing.fillna(0)
df_browsing.head(10)

,API_key,Total,N1,N2,X,G,S
0,004af861-6abb-4e81-9b95-e90deb4eadcd,304,122.0,109.0,16.0,57.0,0.0
1,0128a554-f1a9-4b4e-a718-dfa1ba695416,239,1.0,46.0,69.0,74.0,49.0
2,019a3184-9e1a-4aee-8231-55cfd049a764,6,0.0,0.0,5.0,1.0,0.0
3,01af3366-c3ed-4e5a-8e2f-4f4a695c0da1,287,0.0,0.0,121.0,159.0,7.0
4,0206c2f7-a818-4a63-a281-6f71a5b8f072,15453,3006.0,2561.0,5302.0,2210.0,2374.0
5,020bce8e-f76f-4e45-8572-147541079bb5,1882,0.0,20.0,1084.0,621.0,157.0
6,023b0ffe-443a-4432-b222-ba4e60768548,1389,78.0,442.0,419.0,443.0,7.0
7,02a6841e-74eb-4322-b1e2-1779d87d7f09,3873,177.0,1456.0,1485.0,469.0,286.0
8,0378b027-aa4f-487b-a717-2fe415abca00,42,0.0,0.0,3.0,30.0,9.0
9,04dfdcda-531c-43b6-af91-a356e6749a20,132,0.0,30.0,52.0,33.0,17.0

In [31]:
df_browsing['N'] = df_browsing['N1'] + df_browsing['N2']
df_browsing['N1%'] = 100 * df_browsing['N1'] / df_browsing['N']
df_browsing['N2%'] = 100 * df_browsing['N2'] / df_browsing['N']
df_browsing.head(5)

,API_key,Total,N1,N2,X,G,S,N,N1%,N2%
0,004af861-6abb-4e81-9b95-e90deb4eadcd,304,122.0,109.0,16.0,57.0,0.0,231.0,52.813853,47.186147
1,0128a554-f1a9-4b4e-a718-dfa1ba695416,239,1.0,46.0,69.0,74.0,49.0,47.0,2.127660,97.872340
2,019a3184-9e1a-4aee-8231-55cfd049a764,6,0.0,0.0,5.0,1.0,0.0,0.0,NaN,NaN
3,01af3366-c3ed-4e5a-8e2f-4f4a695c0da1,287,0.0,0.0,121.0,159.0,7.0,0.0,NaN,NaN
4,0206c2f7-a818-4a63-a281-6f71a5b8f072,15453,3006.0,2561.0,5302.0,2210.0,2374.0,5567.0,53.996767,46.003233

In [33]:
df_browsing = df_browsing [['API_key', 'N1', 'N1%', 'N2', 'N2%', 'N', 'X', 'G', 'S', 'Total']]
df_browsing.head(5)

,API_key,N1,N1%,N2,N2%,N,X,G,S,Total
0,004af861-6abb-4e81-9b95-e90deb4eadcd,122.0,52.813853,109.0,47.186147,231.0,16.0,57.0,0.0,304
1,0128a554-f1a9-4b4e-a718-dfa1ba695416,1.0,2.127660,46.0,97.872340,47.0,69.0,74.0,49.0,239
2,019a3184-9e1a-4aee-8231-55cfd049a764,0.0,NaN,0.0,NaN,0.0,5.0,1.0,0.0,6
3,01af3366-c3ed-4e5a-8e2f-4f4a695c0da1,0.0,NaN,0.0,NaN,0.0,121.0,159.0,7.0,287
4,0206c2f7-a818-4a63-a281-6f71a5b8f072,3006.0,53.996767,2561.0,46.003233,5567.0,5302.0,2210.0,2374.0,15453

In [34]:
df_browsing.to_csv("browsing_volume_and_percentage_by_user_by_category.csv")

In [35]:
df_browsing.shape

(523, 10)

In [36]:
df_total_browsing.shape

(523, 2)